.overflow {
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: min-content 1fr;
  border-left: 1px solid var(--clr-outline);
  background-color: var(--clr-surface-container);
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0 1rem;
}

.solutions {
  text-align: center;
  margin: 1rem auto;
}

.item {
  margin: 1rem 0;
}

.sendForm {
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.clusterTitle {
  display: flex;
  flex-direction: row;
}

.nodata {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.scrollBar {
  height: 90vh;
  overflow-y: scroll;
}

.content {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  padding: 1rem;
  gap: 1rem;
}
