.sidebar {
  width: 100%;
  box-sizing: border-box;
  border-left: 1px solid var(--clr-outline);
  display: flex;
  flex-direction: column;
  background-color: var(--clr-surface-container);
  overflow-y: auto;
  padding: 1rem;
  gap: 1rem;
}
