.task {
  position: relative;
  padding: 1rem;
  overflow: hidden;
  cursor: pointer;
  color: var(--clr-on-primary-container);
  background-color: var(--clr-primary-container);
  border-radius: 0.6rem;
  transition: 0.1s;
  box-shadow: var(--box-shadow-1);
}

.text {
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.status {
  font-size: small;
  font-weight: 400;
}

.task.active {
  color: var(--clr-on-primary);
  background-color: var(--clr-primary);
  /* outline-color: var(--clr-tertiary-container) !important; */
}/* 
.task.active::before {
  background-color: var(--clr-tertiary-container) !important;
} */

.task.user {
  padding-left: 2rem;
  outline: 2px solid var(--clr-tertiary);
}

.task.user::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--clr-tertiary);
}

@media (hover: hover) {
  .task:hover {
    box-shadow: var(--box-shadow-2);
  }
}
