.page {
  height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr;

  background-color: var(--clr-surface);
}

.body {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 500px 1fr 0;
  transition: 0.3s;
}