:root,
:root[data-theme="light"] {
  --clr-surface: #f7f9ff;
  --clr-surface-container: #f7f9ff;
  --clr-surface-container-high: #e6e8ee;
  --clr-surface-container-highest: #e0e2e8;
  --clr-surface-container-low: #f2f3f9;
  --clr-surface-container-lowest: #ffffff;
  --clr-surface-dim: #f7f9ff;
  --clr-surface-bright: #f7f9ff;
  --clr-on-surface: #181c20;
  --clr-on-surface-variant: #42474e;
  /*  */
  --clr-outline: #72777f;
  --clr-outline-variant: #c2c7cf;
  /*  */
  --clr-primary: #31628d;
  --clr-on-primary: #ffffff;
  --clr-primary-container: #cfe5ff;
  --clr-on-primary-container: #001d34;
  /*  */
  --clr-secondary: #526070;
  --clr-on-secondary: #ffffff;
  --clr-secondary-container: #d5e4f7;
  --clr-on-secondary-container: #0e1d2a;
  /*  */
  --clr-tertiary: #695779;
  --clr-on-tertiary: #ffffff;
  --clr-tertiary-container: #f0dbff;
  --clr-on-tertiary-container: #231532;
  /*  */
  --clr-error: #ba1a1a;
  --clr-on-error: #ffffff;
  --clr-error-container: #ffdad6;
  --clr-on-error-container: #410002;
  /*  */
  --clr-success: #466730;
  --clr-on-success: #ffffff;
  --clr-success-container: #c7eea9;
  --clr-on-success-container: #092100;
}

:root[data-theme="dark"] {
    --clr-surface: #101418;
    --clr-surface-container: #1d2024;
    --clr-surface-container-high: #272a2f;
    --clr-surface-container-highest: #32353a;
    --clr-surface-container-low: #181c20;
    --clr-surface-container-lowest: #0b0e12;
    --clr-surface-dim: #101418;
    --clr-surface-bright: #36393e;
    --clr-on-surface: #e0e2e8;
    --clr-on-surface-variant: #c2c7cf;
    /*  */
    --clr-outline: #8c9199;
    --clr-outline-variant: #42474e;
    /*  */
    --clr-primary: #9dcbfb;
    --clr-on-primary: #003355;
    --clr-primary-container: #124a73;
    --clr-on-primary-container: #cfe5ff;
    /*  */
    --clr-secondary: #b9c8da;
    --clr-on-secondary: #243240;
    --clr-secondary-container: #3a4857;
    --clr-on-secondary-container: #d5e4f7;
    /*  */
    --clr-tertiary: #d4bee6;
    --clr-on-tertiary: #392a49;
    --clr-tertiary-container: #504060;
    --clr-on-tertiary-container: #f0dbff;
    /*  */
    --clr-error: #ffb4ab;
    --clr-on-error: #690005;
    --clr-error-container: #93000a;
    --clr-on-error-container: #ffdad6;
    /*  */
    --clr-success: #abd28f;
    --clr-on-success: #193706;
    --clr-success-container: #2f4f1b;
    --clr-on-success: #c7eea9;
}
